@font-face {
    font-family: Achemine-Bold;
    src: url(./fonts/AchemineBold.woff2) format('woff2'), url(./fonts/AchemineBold.woff) format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: Avenir-Heavy;
    src: url(./fonts/AvenirHeavy.woff2) format('woff2'), url(./fonts/AvenirHeavy.woff) format('woff');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: Avenir-Medium;
    src: url(./fonts/AvenirMedium.woff2) format('woff2'), url(./fonts/AvenirMedium.woff) format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
